.xicon {
  float: right;
  padding: 15px
}

form {
  margin: 20px;
  padding: 5px;
}

.advertisement {
  text-align: center;
  margin: auto;
  padding: 5px;
  background-color: #d3d3d3;
  border-radius: 45px;
  align-items: center;
  width: 750px
}
